* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
}

a {
    list-style: none;
    color: inherit
}

figure {
    width: fit-content;
    height: fit-content;
}

img,
video {
    display: block;
    max-width: 100%;
}

@font-face {
    font-family: safira;
    src: url(../font/Safira\ March.otf);
}

@font-face {
    font-family: noto_r;
    src: url(../font/NotoSansKR-Medium.ttf);
}

@font-face {
    font-family: gowunbatang;
    src: url(../font/GowunBatang-Regular.ttf);
}

@font-face {
    font-family: artifika;
    src: url(../font/Artifika-Regular.ttf);
}



/*top button */
.button{
    background-color: #E6A682;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;
    text-align: center;
    font-size: 0.8rem;
    color:#222;
    display: none;
}

.button a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* main video */
#main {
width: 100%;
height: 100%;
margin-bottom: 200px;
}

#main figure {
    width: 100%;
    height: auto;
}

#main video {
    width: 100%;
    height: 100%;

}

/* header */
header {
    width: 100%;
    height: 8vh;
    margin-bottom: 130px;
    font-family: noto_r;
    z-index: 999;
}

header h1 {
    margin-left: 5vw;
    line-height: 7vh;
    font-size: 1rem;
    display: none;
}

.fix{
    background-color: #4f4f4f;
    color:#ffc5a4;
    position:fixed;
    top: 0;
    left:0;
    font-size: 1.3rem;
    transition:0.5s;
}



/* synopsis */
#synop .synop h2 {
    font-size: 1rem;
    margin-bottom: 35px;
    font-family: safira;
}

#synop .synop h2 span {
    font-family: noto_r;
}

#synop .text {
    margin-top: 30px;
    margin-bottom: 150px;
    line-height: 200%;
    font-family: gowunbatang;
    line-height: 2rem;
    font-size: 1rem;
}


#synop .right {
    display: flex;
    justify-content: right;

}


#synop .plus .col-12 {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 0.8rem;
    font-family: noto_r;
}

#synop .plus .col-12 p {
    line-height: 0.8rem;
    margin: 0;
    margin-right: 15px;
}


#synop {
    margin-bottom: 350px;
}




/* 등장인물 */
#actor .main h2 {
    font-size: 1.5rem;
    margin-bottom: 35px;
    font-weight: 600;
}


#actor .mactor .name {
    text-align: center;
}

#actor .mactor {
    margin-bottom: 20px;
}


#actor .side {
    margin-bottom: 150px;
}

#actor .side .name {
    text-align: center;
    margin: 5px auto;
}


#actor .plus .col-12 a {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 0.8rem;
    font-family: noto_r;
    font-weight: 100;
}

#actor .plus .col-12 p {
    line-height: 0.5rem;
    margin: 0;
    margin-right: 15px;
}

#actor {
    margin-bottom: 350px;
}

/* 오버레이효과 */
#actor .o_box{
    position: relative;
 
   
}
#actor .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    background:linear-gradient(to bottom, rgb(0,0,0,0), rgb(0,0,0,0.9));
    opacity: 0;
   
}

#actor .o_box .cha{
    position: absolute;
    top: 0;
    left: 0;
    color:#fff;
    margin-top: 72%;
    margin-left: 20px;
    opacity: 0;
    font-size: 0.9rem;
}







/* 명대사 */
#f-line {
    margin-bottom: 350px;
}

#f-line .container .row .col-6 h2 {
    font-size: 1.5rem;
    margin-bottom: 35px;
    font-family: noto_r;
    font-weight: 300;
}

#f-line .row .txt {
    font-family: gowunbatang;
    line-height: 2rem;
    font-size: 1rem;
}

#f-line .row p span {
    font-size: 0.8rem;
    font-family: noto_r;
    font-weight: 100;
}

#f-line .container .row .plus a {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 5px;
    font-size: 0.8rem;
    font-family: noto_r;
    font-weight: 100;
}

#f-line .container .row .plus p {
    line-height: 0.5rem;
    margin-right: 15px;
}


#f-line .container .plus_2 a {
    width: 100%;
    margin-top: 5px;
    font-size: 0.8rem;
    font-family: noto_r;
    display: flex;
    justify-content: center;
    font-weight: 100;

}

#f-line .container .row .plus_2 p {
    line-height: 0.8rem;
    width: fit-content;
    margin: 0;
    margin-right: 15px;
}




/* 관련영상 */
#video .container .row h2 {
    font-size: 1.5rem;
    margin: 50px auto;
    font-family: noto_r;
    font-weight: 600px;
}

#video {
    width: 100%;
    height: 1024px;
    background-color: #4f4f4f;
    display: flex;
    color: #fff;
    margin-bottom: 350px;

}

#video .container .box {
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#video .container .box .ibox {
    width: 100%;
    height: 330px;
}

#video .container .box .ibox iframe {
    width: 100%;
    height: 100%;
}

#video .container .row p {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0.89rem;
}




/* review  title*/
#review {
    overflow-x: hidden;
    margin-bottom: 350px;
    font-family: noto_r;
}

#review .container .row .naver {
    color: #888888;
    font-weight: thin;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

#review .container .row .col-6 h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-family: safira;
}



#review .container .row:first-child .plus a {
    display: flex;
    justify-content: right;
    margin-top: 5px;
    font-size: 0.8rem;
}

#review .plus p {
    width: fit-content;
    line-height: 0.8rem;
    margin: 0;
    margin-right: 15px;
}


#review .star .fa-solid {
    font-size: 1.3rem;
}

#review .star .col-12 p {
    font-size: 1.1rem;
    margin: 10px 0;
    margin-bottom: 30px;
}






/* review 감상평박스 */
#review .r-box .box {
    width: 98%;
    height: 300px;
    border: 1px solid #000;
    padding: 0;
    margin-left: 1.87rem;
    display: flex;
    flex-direction: column;
    justify-items: center;

}

#review .r-box .box:first-child {
    margin-left: 0;
}

#review .r-box .box .grade {
    width: 90%;
    height: 40px;
    font-size: 1rem;
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 1.87rem;
}

#review .r-box .box .grade i {
    margin-top: 6px;
}

#review .r-box .box .grade .fa-solid {
    font-size: 0.95rem;
    margin-right: 10px;
}


#review .r-box .box .line .quotes {
    display: none;
}

#review .r-box .box .line span {
    width: 80%;
    height: 1px;
    background-color: #222222;
    display: block;
    margin: 0 auto;
    align-self: center;
}


/* review 본문 */
#review .r-box .box .text p {
    font-size: 1rem;
    width: 80%;
    height: 120px;
    margin: 1.87rem auto;
}

#review .r-box .box .personal {
    align-self: center;
    margin-top: 15px;
    font-size: 0.9rem;
}



#review .r-box {
    margin-bottom: 17px;
}


#review .container .row .plus_2 a {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 0.6rem;
    text-align: center;
}

#review .plus_2 p {
    width: fit-content;
    line-height: 0.6rem;
    margin: 0;
    margin-right: 15px;
}








/* footer */

footer {
    width: 100%;
    height: 500px;
    background-color: #4f4f4f;
    font-family: noto_r;
    color:#ffc5a4;
    
}

footer .container h2 {
    margin-top: 50px;
    font-size: 70px;
    color:#ffc5a4;
}



footer .container .row:nth-child(2) p {
    margin-top: 20px;
    font-size: 0.9rem;
    line-height: 1.8rem;
}

footer .container .row:last-child p {
    font-size: 0.6rem;

}







/* 노트북 & 테블릿 가로 MD (해상도 769px ~ 992px)*/
@media all and (min-width:769px) and (max-width:992px) {
    header h1 {
        font-size: 1.5rem;
    }

    /* 오버레이효과 */
#actor .o_box{
    position: relative;
 
   
}
#actor .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    background:linear-gradient(to bottom, rgb(0,0,0,0), rgb(0,0,0,0.9));
    opacity: 0;
   
}

#actor .o_box .cha{
    position: absolute;
    top: 0;
    left: 0;
    color:#fff;
    margin-top: 67%;
    margin-left: 20px;
    opacity: 0;
    font-size: 0.8rem;
}


    #video {
        width: 100%;
        height: 850px;
    }

    #video .container .box {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #video .container .box .ibox {
        width: 100%;
        height: 280px;
    }


    /* 리뷰박스 */
    #review .r-box .box {
        width: 98%;
        height: 280px;
        margin-bottom: 18px;
    }

    #review .r-box .box .grade {
        width: 90%;
        height: 38px;
        font-size: 1rem;
        display: flex;
        justify-content: right;
        margin-top: 12px;
        margin-bottom: 3px;
        margin-right: 1rem;
    }

    #review .r-box .box .grade .fa-solid {
        font-size: 0.95rem;
        margin-right: 13px;
        margin-top: 5px;
    }

    #review .r-box .box .text p {
        font-size: 1rem;
        width: 80%;
        height: 140px;
        margin: 1rem auto;
    }

    #review .r-box .box .personal {
        align-self: center;
        margin-top: 15px;
    }

    #review .container .row .plus_2 a {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        font-size: 0.8rem;
        text-align: center;
    }
    
    #review .plus_2 p {
        width: fit-content;
        line-height: 0.8rem;
        margin: 0;
        margin-right: 15px;
    }


}


/* 테블릿 가로 SM (해상도 577px ~ 768px)*/
@media all and (min-width:577px) and (max-width:768px) {
    header h1 {
        font-size: 1.3rem;
    }

    #synop .synop h2 {
        font-size: 0.9rem;
    }

    #synop .text {
        margin-top: 30px;
        margin-bottom: 150px;
        line-height: 200%;
        font-family: gowunbatang;
        line-height: 1.5rem;
        font-size: 0.86rem;
    }


    #synop .plus .col-12 {
        display: flex;
        justify-content: right;
        align-items: center;
        font-size: 0.7rem;
        font-family: noto_r;
    }

    #synop .plus .col-12 p {
        line-height: 0.7rem;
        margin: 0;
        margin-right: 15px;
    }

    #actor .main h2 {
        font-size: 1.25rem;
    }

   

    #actor .plus .col-12 a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        font-family: noto_r;
        font-weight: 100;
    }

    #actor .plus .col-12 p {
        line-height: 0.5rem;
        margin: 0;
        margin-right: 15px;
    }

    #actor .side {
        margin-bottom: 50px;
    }

        /* 오버레이효과 */
#actor .o_box{
    position: relative;
 
   
}
#actor .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    background:linear-gradient(to bottom, rgb(0,0,0,0), rgb(0,0,0,0.9));
    opacity: 0;
   
}

#actor .o_box .cha{
    position: absolute;
    top: 0;
    left: 0;
    color:#fff;
    margin-top: 67%;
    margin-left: 20px;
    opacity: 0;
    font-size: 0.8rem;
}

    #synop .plus .col-12 {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 0.65rem;
        font-family: noto_r;
    }

    #synop .plus .col-12 p {
        text-align: center;
        line-height: 0.65rem;
        margin: 0;
        margin-right: 15px;
    }

    #f-line .row .txt {
        line-height: 1.5rem;
        font-size: 0.75rem;
    }

    #f-line .container .row .col-6 h2 {
        font-size: 1.25rem;
    }

    #f-line .row p span {
        font-size: 0.6rem;
    }

    #f-line .container .row .plus a {
        width: 100%;
        display: flex;
        justify-content: right;
        margin-top: 5px;
        font-size: 0.7rem;
        font-family: noto_r;
        font-weight: 100;
    }
    
    #f-line .container .row .plus p {
        line-height: 0.7rem;
        margin-right: 15px;
    }

    #video .container .row h2 {
        font-size: 1.25rem;
        margin: 25px auto;
        font-family: noto_r;
        font-weight: 300px;
    }

    #video {
        height: 100%;
    }



    #video .container .row .box p {
        height: 30px;
        font-size: 0.8rem;
    }

    #video .container .row:last-child {
        margin-bottom: 60px;
    }


    /* 리뷰 타이틀 */
    #review .container .row .col-6 h2 {
        font-size: 1.1rem;
    }

    #review .container .row .naver {
        font-size: 0.7rem;
    }

    #review .star .fa-solid {
        font-size: 1.1rem;
        margin-bottom: 0;
    }

    #review .star .col-12 p {
        font-size: 1rem;
        margin: 10px 0;
        margin-bottom: 30px;
    }

    /* 리뷰박스 */
    #review .r-box .box {
        width: 98%;
        height: 250px;
        margin-bottom: 18px;
    }

    #review .r-box .box .grade {
        width: 90%;
        height: 25px;
        font-size: 0.93rem;
        display: flex;
        justify-content: right;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 1rem;
    }

    #review .r-box .box .grade .fa-solid{
        font-size: 0.9rem;
        margin-right: 10px;
        margin-top: 5px;
    }

    #review .r-box .box .personal {
        align-self: center;
        margin-top: 13px;
    }


    #review .r-box .box .text p {
        font-size: 0.93rem;
        width: 80%;
        height: 110px;
        margin-top: 10px;

    }

}


/* 모바일 가로 & 테블릿 세로 XS (해상도 451px ~ 576px)*/
@media all and (min-width:451px) and (max-width:576px) {
    header h1 {
        font-size: 1rem;
    }

    #synop {
         margin-bottom: 200px;
    }

    #synop .synop h2 {
        font-size: 0.8rem;
    }

    #synop .text {
        margin-top: 15px;
        margin-bottom: 150px;
        line-height: 180%;
        font-family: gowunbatang;
        font-size: 0.75rem;
    }

    #synop .plus .col-12 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.65rem;
        font-family: noto_r;
    }

    #synop .plus .col-12 p {
        line-height: 0.65rem;
        margin: 0;
        margin-right: 15px;
    }


    #actor{
        margin-bottom: 200px;
    }
    #actor .main h2 {
        font-size: 1.1rem;
    }

    #actor .mactor .name {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 1rem;
    }

    #actor .plus .col-12 a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.65rem;
        font-family: noto_r;
        font-weight: 100;
    
    }

    #actor .plus .col-12 p {
        line-height: 0.65rem;
        margin: 0;
        margin-right: 15px;
    }

    #actor .side {
        margin-bottom: 50px;
    }

        /* 오버레이효과 */
#actor .o_box{
    position: relative;
 
   
}
#actor .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    background:linear-gradient(to bottom, rgb(0,0,0,0), rgb(0,0,0,0.9));
    opacity: 0;
   
}

#actor .o_box .cha{
    position: absolute;
    top: 0;
    left: 0;
    color:#fff;
    margin-top: 68%;
    margin-left: 20px;
    opacity: 0;
    font-size: 0.8rem;
}

    #f-line{
        margin-bottom: 200px;
    }

    #f-line .row p {
        line-height: 1.3rem;
        font-size: 0.7rem;
    }

    #f-line .row .txt {
        margin-bottom: 150px;
    }

    #f-line .row .txt:last-child{
        margin-bottom: 100px;
    }

    #f-line .row figure {
        margin-bottom: 25px;
    }

    #f-line .container .row .col-6 h2 {
        font-size: 1.1rem;
        margin-bottom: 35px;
        font-family: noto_r;
        font-weight: 600;
    }

    #f-line .row p span {
        font-size: 0.5rem;
    }

    #f-line .container .row .plus a {
        width: 100%;
        display: flex;
        justify-content: right;
        margin-top: 5px;
        font-size: 0.65rem;
        font-family: noto_r;
        font-weight: 100;
    }
    
    #f-line .container .row .plus p {
        line-height: 0.65rem;
        margin-right: 15px;
    }


    #video .container .row h2 {
        font-size: 1.1rem;
        margin: 25px auto;
        font-family: noto_r;
        font-weight: 600px;
        margin-top: 50px;
    }

    #video {
        height: 100%;
    }

    #video .container .box {
        width: 100%;
        height: 380px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    #video .container .box .ibox {
        width: 100%;
        height: 300px;
    }

  

    #video .container .row .box p {
        font-size: 0.75rem;
    }

    #video{
        margin-bottom: 200px;
    }



    /* 리뷰 타이틀 */
    #review .container .row .col-6 h2 {
        font-size: 1rem;
    }

    #review .container .row .naver {
        font-size: 0.65rem;
    }

    #review .star {
        text-align: center;
        margin-bottom: 20px;
    }

    #review .star .fa-solid {
        font-size: 1rem;
    }

    #review .star .col-12 p {
        font-size: 0.95rem;
        margin: 10px 0;
        margin-bottom: 30px;
    }

    /* 리뷰박스 */
    #review .r-box .box {
        width: 98%;
        height: 240px;
        margin-bottom: 18px;
    }

    #review .r-box .box .grade{
        width: 90%;
        height: 25px;
        font-size: 0.9rem;
        display: flex;
        justify-content: right;
        margin-top: 10px;
        margin-right: 1rem;
        margin-bottom: 5px;
    }

    #review .r-box .box .grade .fa-solid{
        font-size: 0.9rem;
        margin-right: 10px;
        margin-top: 5px;
    }

    #review .r-box .box .text p {
        font-size: 0.85rem;
        width: 80%;
        height: 110px;
        margin-top: 10px;

    }


    #review .r-box .box .grade i {
        margin-top: 5px;
        height: 18px;
    }

    #review .r-box .box .grade p {
        height: 18px;
        margin-bottom: 15px;
    }

    #review .r-box .box .personal {
        align-self: center;
        margin-top: 13px;
    }

    footer .container h2 {
        font-size: 60px;
    }

    footer .container .row:nth-child(2) p {
        margin-top: 20px;
        font-size: 0.8rem;
        line-height: 200%;
    }
}

/* 모바일 세로 (해상도 ~ 450px)*/
@media all and (max-width:450px) {
    header h1 {
        font-size: 0.85rem;
    }

   

    #synop .synop h2 {
        font-size: 0.7rem;
    }

    #synop .text {
        margin-bottom: 100px;
        font-size: 0.65rem;
    }

    #synop .text:last-child{
        margin-bottom: 60px;
    }

    #synop .plus .col-12 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem;
        font-family: noto_r;
    }

    #synop .plus .col-12 p {
        line-height: 0.6rem;
        margin: 0;
        margin-right: 15px;
    }



    #actor .main h2 {
        font-size: 1rem;
        font-weight: 500;
    }

    #actor .mactor .name {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 0.95rem;
    }

    #actor .plus .col-12 a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem;
    }
    #actor .plus .col-12 p {
        line-height: 0.6rem;
        margin: 0;
        margin-right: 15px;
    }

    #actor .side {
        margin-bottom: 50px;
    }

        /* 오버레이효과 */
#actor .o_box{
    position: relative;
 
   
}
#actor .overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    background:linear-gradient(to bottom, rgb(0,0,0,0), rgb(0,0,0,0.9));
    opacity: 0;
   
}

#actor .o_box .cha{
    position: absolute;
    top: 0;
    left: 0;
    color:#fff;
    margin-top: 65%;
    margin-left: 20px;
    opacity: 0;
    font-size: 0.8rem;
}


    #f-line .row p {
        line-height: 1.3rem;
        font-size: 0.7rem;
    }

    #f-line .container .row .col-6 h2 {
        font-size: 1rem;
        margin-bottom: 35px;
        font-family: noto_r;
        font-weight: 600;
    }
    #f-line{
        margin-bottom: 200px;
    }

    #f-line .row p span {
        font-size: 0.45rem;
    }

    #f-line .container .plus_2 a {
        font-size: 0.6rem;
        margin-top: 5px;
    }

    #f-line .container .row .plus_2 p {
        line-height: 0.6rem;
    }

    #f-line .row .txt:last-child{
        margin-bottom: 50px;
    }


    #video {
        background-color: #4f4f4f;
        color: #ffffff;
        height: 100%;
        margin-bottom: 200px;
    }

    #video .container .box {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    #video .container .box .ibox {
        width: 100%;
        height: 200px;
    }

    #review .star {
        text-align: center;
        margin-bottom: 20px;
    }

    #review .star .fa-solid {
        font-size: 1rem;
    }

    #review .star .col-12 p {
        font-size: 0.93rem;
        margin: 10px 0;
        margin-bottom: 30px;
    }
    #review .r-box .box {
        width: 98%;
        height: 200px;
        margin-bottom: 18px;
    }

    #review .r-box .box .grade{
        width: 90%;
        height: 20px;
        font-size: 0.65rem;
        display: flex;
        justify-content: right;
        margin-top: 10px;
        margin-right: 1rem;
        margin-bottom: 5px;
    }

    #review .r-box .box .grade .fa-solid{
        font-size: 0.63rem;
        margin-right: 10px;
        margin-top: 5px;
    }

    #review .r-box .box .text p {
        font-size: 0.68rem;
        width: 80%;
        height: 85px;
        margin-top: 10px;

    }

    #review .r-box .box .personal {
        align-self: center;
        margin-top: 8px;
        font-size: 0.6rem;
    }

    footer .container h2 {
        font-size: 50px;
    }

    footer .container .row:nth-child(2) p {
        margin-top: 20px;
        font-size: 0.65rem;
        line-height: 200%;
    }

}